# CODEOWNERS file
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
# These owners will be requested for review when someone opens a pull request
* @cloudandthings/maintainers

# GitHub Actions workflows
/.github/workflows/ @cloudandthings/devops

# Documentation
*.md @cloudandthings/documentation

# Terraform configuration
*.tf @cloudandthings/terraform

# Tests
/tests/ @cloudandthings/qa
